__pycache__
.vscode
music_dump/
musiql-desktop/node_modules/
add_music_jobs/
migrations/versions/
graphify-out*
*.json
*.png
*.pyc
.venv
alembic.ini
updates.log
musiql.egg-info
.env
.ruff_cache
CLAUDE.md
graphify-out
scripts
.claude