[submodule "recommendation-models"]
	path = recommendation-models
	url = git@github.com:VX59/recommendation-models.git
[submodule "musiql-desktop"]
	path = musiql-desktop
	url = git@github.com:VX59/musiql-desktop.git
[submodule "musiql-terraform-aws-iac"]
	path = musiql-terraform-aws-iac
	url = https://github.com/VX59/musiql-terraform-aws-iac.git
[submodule "internal_tools"]
	path = internal_tools
	url = https://github.com/VX59/internal_tools.git
